.skills {
    padding: 100px 0;
    background-color: #fff;

    .container {
        padding: 0 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .h2-wrapper {
        width: 1082px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        color: rgb(5, 12, 51);
        font-size: 42px;
        font-weight: 700;
        line-height: 51px;
        max-width: 580px;
    }

    .subtitle {
        color: rgb(5, 12, 51);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin: 18px 0 63px 0;
        max-width: 490px;
    }

    &-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 118px;
        row-gap: 50px;

        max-width: 1082px;
    }

    &-card {
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        .img-wrap {
            position: relative;
            width: 81px;
        }

        .skillImg {
            width: 81px;
        }

        .vector {
            position: absolute;
            right: 35px;
            top: 36px;
        }

        .text {
            color: rgb(5, 12, 51);
            font-size: 16px;
            font-weight: 500;
            max-width: 182px;
        }
    }
}