.support {
    position: relative;
    padding: 60px 20px 50px 20px;
    background-color: #fff;
    text-align: center;

    h2 {
        color: rgb(5, 12, 51);
        font-size: 42px;
        font-weight: 700;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
        grid-gap: 5px;
        margin-top: 56px;
    }

    &-card {
        position: relative;
        width: 292px;
        height: 292px;
        padding: 27px 34px 0px 26px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px -1px rgb(0, 0, 0);
        text-align: left;
        z-index: 3;
        background: #fff;

        .number {
            color: rgb(5, 12, 51);
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
        }

        .text-wrap {
            position: relative;
            max-width: 233px;
            z-index: 2;
        }

        span {
            display: block;
            color: rgb(5, 12, 51);
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            margin: 20px 0 12px 0;
        }

        .text {
            color: rgb(5, 12, 51);
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }

        .supportImg {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            border-bottom-right-radius: 5px;
        }
    }
}